body {
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);    
}

.card {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
  }

.card-body {
    margin-top: 50px;
    text-align: center;
}

.card-text-quote {
    margin-top: 2rem;
    font-family: 'Shadows Into Light', cursive;
}

#quote_text {
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large;
}

.card-text-by {
    padding-top: 0;
    margin-bottom: 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    color: grey;
}



